<div class="">
	<form id="add-to-map-form" class="form-horizontal custom">
		<div class="modal-header">
			<a class="close-reveal-modal">&#215;</a>
			<h3>U-Map Your Location</h3>
		</div>
		<div class="modal-body">

			<fieldset>
				<ul>

					<li class="control-group">
						<label for="name" class="control-label">Name of Listing</label>
						<div class="controls">
							<input type="text" id="name" required/>
						</div>
					</li>

					<li class="control-group">
						<label for="place" class="control-label">Address</label>
						<div class="controls">
							<input id="location" type="text" id="place" required
										 placeholder="example: 150 West Hastings, Vancouver, BC" />							
							<small>
							  <div>Street number, street name, town/city, and province.</div>
								<div>Please make sure the address is searchable on Google Maps first!</div>
						</small>

						</div>
					</li>

					<li class="control-group">
						<label for="zip" class="control-label">Postal/Zip</label>
						<div class="controls">
							<input id="postal" type="text" id="place" required />
						</div>
					</li>
					
          <li class="control-group">
            <label for="country" class="control-label">Country</label>
            <div class="controls">
              <select id="country" required></select>
            </div>
          </li>
          
          <li id="subdivision-control-group" class="control-group">
            <label id="subdivision-label" for="subdivision" class="control-label">Province</label>
            <div class="controls">
              <select id="subdivision" required></select>
            </div>
          </li>
          
          <li id="bioregion-control-group" class="control-group">
            <label for="bioregion" class="control-label">Bioregion</label>
            <div class="controls">
              <select id="bioregion" required></select>
            </div>
          </li>

					<li class="control-group">
						<label for="category" class="control-label">Listing Category</label>
						<div class="controls">
							<select id="category-select" requried></select>
						</div>
					</li>

					<li id="subcategories-control-group" class="control-group">
						<label for="subcategories" class="control-label">Sub-Categories</label>
						<div id="subcategory-selects" class="controls">
														
						</div>
						<div>
						  <a id='add-subcategory' href='javascript: void(0);'>Add Sub-Category</a>
						  <div style="clear:both;"
						</div> 
					</li>          

					<li class="control-group">
						<label for="description" class="control-label">Description</label>
						<div class="controls">
							<textarea id="description" required placeholder="What you do and why a young agrarian would want to find you!"></textarea>
						</div>
					</li>

					<li class="control-group">
						<label for="url" class="control-label">Website URL</label>
						<div class="controls">
							<input type="url" id="url" placeholder="Enter the URL here" />
						</div>
					</li>

					<li class="control-group">
						<label for="facebook" class="control-label">Facebook Page URL</label>
						<div class="controls">
							<input type="url" id="facebook" placeholder="Enter the URL here"/>
						</div>
					</li>

					<li class="control-group">
						<label for="twitter" class="control-label">Twitter URL</label>
						<div class="controls">
							<input type="url" id="twitter" placeholder="Enter the URL here"/>
						</div>
					</li>

					<li class="control-group">
						<label for="phone" class="control-label">Phone Number</label>
						<div class="controls">
							<input type="text" id="phone" placeholder="Enter the phone number here" />
						</div>
					</li>

					<li class="control-group">
						<label for="email" class="control-label">Email Address</label>
						<div class="controls">
							<input type="email" id="email" placeholder="Enter the email address here" />
						</div>
					</li>

					<li class="control-group">
						<label for="email" class="control-label">Show Until</label>
						<div class="controls show-until-control">
							<input type="date" id="show_until" placeholder="Enter a date here, ie '2013-01-01'" />
							<small>
								After this date, the location will no longer show up in the listings. Please enter it in the format 'DD/MM/YYYY'.
							</small>
						</div>
					</li>

					<li class="control-group agree">						
					  <input type="checkbox" id="agree" />
					  <span class='agree-info'>
							I agree that the information I am providing is true and correct. I consent to have my information listed on the Young 
							Agrarians map.
						</span>
					</li>

				</ul>
			</fieldset>

		</div>
		<div class="modal-footer">
			<button class="cancel">Cancel</button>
			<button class="btn btn-primary" type="submit">Save changes</button>
		</div>
	</form>
</div>
