<div id="extras" class="row"></div>
<div id="map-search" class="row"></div>
<div id="map-selected-categories" class="row selected-categories-container"></div>
<div id="map-selected-subcategories" class="row selected-categories-container"></div>
<div id="map-provinces" class="row"></div>
<div id="map-bioregions" class="row"></div>
<div id="map-legend-container" class="row"></div>

