<div id="extras"></div>
<div id="map-search"></div>
<div id="map-selected-categories"></div>
<div id="map-selected-subcategories"></div>
<form class="custom">
  <div id="map-provinces"></div>
  <div id="map-bioregions"></div>
</form>
<div id="map-legend-container"></div>

