#FOOTER_1 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 305px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1440px;
}/*#FOOTER_1*/

#DIV_2 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 250px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 20px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_2*/

#DIV_3 {
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 210px;
    left: 0px;
    line-height: 21px;
    margin: 0px 208px;
    max-width: 1024px;
    outline: rgb(104, 103, 88) none 0px;
    position: relative;
    text-align: left;
    width: 1024px;
}/*#DIV_3*/

#DIV_3:after {
    border: 0px none rgb(104, 103, 88);
    clear: both;
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#DIV_3:before {
    border: 0px none rgb(104, 103, 88);
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#ASIDE_4 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 206px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 10px 20px;
    text-align: left;
    width: 250px;
    word-wrap: break-word;
}/*#ASIDE_4*/

#H3_5 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    font: normal normal normal 16px/normal 'Averia Serif Libre';
    height: 19px;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-transform: uppercase;
    width: 210px;
    word-wrap: break-word;
}/*#H3_5*/

#DIV_6 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 157px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 210px;
    word-wrap: break-word;
}/*#DIV_6*/

#A_7, #A_30 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
}/*#A_7, #A_30*/

#IMG_8 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 157px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 182px;
    word-wrap: break-word;
}/*#IMG_8*/

#ASIDE_9 {
    ;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 210px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    min-height: 210px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 10px 20px;
    text-align: left;
    width: 470px;
    word-wrap: break-word;
}/*#ASIDE_9*/

#DIV_10 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 428px;
    word-wrap: break-word;
}/*#DIV_10*/

#UL_11 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Averia Serif Libre', cursive;
    line-height: 24px;
    list-style: none outside none;
    margin: 0px 29px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 0px 0px 0px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 370px;
    word-wrap: break-word;
}/*#UL_11*/

#LI_12, #LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 16px/24px 'Averia Serif Libre', cursive;
    height: 34px;
    line-height: 24px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    text-transform: uppercase;
    width: 170px;
    word-wrap: break-word;
}/*#LI_12, #LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26*/

#A_13, #A_15, #A_19, #A_23, #A_27 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Averia Serif Libre', cursive;
    line-height: 24px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
}/*#A_13, #A_15, #A_19, #A_23, #A_27*/

#A_17, #A_21 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Averia Serif Libre', cursive;
    line-height: 24px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
}/*#A_17, #A_21*/

#A_25 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Averia Serif Libre', cursive;
    line-height: 24px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
}/*#A_25*/

#ASIDE_28 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: right;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 180px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 10px 20px;
    text-align: left;
    width: 250px;
    word-wrap: break-word;
}/*#ASIDE_28*/

#DIV_29 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 210px;
    word-wrap: break-word;
}/*#DIV_29*/

#IMG_31 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 210px;
    word-wrap: break-word;
}/*#IMG_31*/

#DIV_32 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 55px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 5px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_32*/

#P_33 {
    border: 0px none rgb(88, 88, 88);
    box-sizing: border-box;
    color: rgb(88, 88, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 21px;
    line-height: 21px;
    margin: 0px 0px 24px;
    outline: rgb(88, 88, 88) none 0px;
    text-align: center;
    width: 1440px;
}/*#P_33*/

