
#FOOTER_1 {
    background: rgb(232, 229, 206) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 414px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1440px;
}/*#FOOTER_1*/

#DIV_2 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 359px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 20px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_2*/

#DIV_3 {
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 319px;
    left: 0px;
    line-height: 21px;
    margin: 0px 208px;
    max-width: 1024px;
    outline: rgb(104, 103, 88) none 0px;
    position: relative;
    text-align: left;
    width: 1024px;
}/*#DIV_3*/

#DIV_3:after {
    border: 0px none rgb(104, 103, 88);
    clear: both;
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#DIV_3:before {
    border: 0px none rgb(104, 103, 88);
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#ASIDE_4 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 218px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_4*/

#DIV_5 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 178px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 260px;
    word-wrap: break-word;
}/*#DIV_5*/

#IMG_6 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 157px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 182px;
    word-wrap: break-word;
}/*#IMG_6*/

#ASIDE_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 319px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_7*/

#DIV_8 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 279px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 258px;
    word-wrap: break-word;
}/*#DIV_8*/

#UL_9 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 279px;
    line-height: 21px;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 0px;
    text-align: left;
    width: 258px;
    word-wrap: break-word;
}/*#UL_9*/

#LI_10 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 93px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_10*/

#A_11, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24, #A_26, #A_28 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
}/*#A_11, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24, #A_26, #A_28*/

#UL_12 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 62px;
    line-height: 21px;
    list-style: none outside none;
    margin: 0px 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 0px;
    text-align: left;
    width: 238px;
    word-wrap: break-word;
}/*#UL_12*/

#LI_13, #LI_15 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 238px;
    word-wrap: break-word;
}/*#LI_13, #LI_15*/

#LI_17, #LI_19, #LI_23, #LI_27 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_17, #LI_19, #LI_23, #LI_27*/

#LI_21, #LI_25 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_21, #LI_25*/

#ASIDE_29 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: right;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 200px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_29*/

#DIV_30 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 260px;
    word-wrap: break-word;
}/*#DIV_30*/

#IMG_31 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 215px;
    word-wrap: break-word;
}/*#IMG_31*/

#DIV_32 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 55px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 5px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_32*/

#P_33 {
    border: 0px none rgb(88, 88, 88);
    box-sizing: border-box;
    color: rgb(88, 88, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 21px;
    line-height: 21px;
    margin: 0px 0px 24px;
    outline: rgb(88, 88, 88) none 0px;
    text-align: center;
    width: 1440px;
}/*#P_33*/

