/* =Theme customization starts here

-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700);

/* font-family: 'Averia Serif Libre', cursive; */

@font-face {

font-family: 'Young Agrarians legible';

        src: url('fonts/YOUNG_AGRARIANS.eot');

        src: local(''), url('/fonts/YOUNG_AGRARIANS.woff') format('woff'), url('/fonts/YOUNG_AGRARIANS.ttf') format('truetype'), url('fonts/YOUNG_AGRARIANS.svg') format('svg');
}



*{

-webkit-font-smoothing: antialiased;

}

a:active, a:hover, .widget a:hover {

        color:rgb(197,63,63);

        text-decoration:none;

}

/* top */

/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

.main-navigation {
  clear: both;
  margin: 0 auto;
  max-width: 1080px;
  min-height: 45px;
  position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
  margin: 0;
  padding: 0 40px 0 0;
}

.nav-menu li {
  display: inline-block;
  position: relative;
}

.nav-menu li a {
  color: #141412;
  display: block;
  font-size: 15px;
  line-height: 1;
  padding: 15px 20px;
  text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
  background-color: #220e10;
  color: #fff;
}

.nav-menu .sub-menu,
.nav-menu .children {
  background-color: #220e10;
  border: 2px solid #f7f5e7;
  border-top: 0;
  display: none;
  padding: 0;
  position: absolute;
  left: -2px;
  z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
  border-left: 0;
  left: 100%;
  top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
  color: #fff;
  margin: 0;
  width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
  background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
  display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
  color: #bc360a;
  font-style: italic;
}

.menu-toggle {
  display: none;
}

/* Navbar */
.navbar {
  background-color: #f7f5e7;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}


.topbar{

        height:34px;

        background-color:rgb(25,25,25);

        width:100%;

}

.site-header{   

        margin-top:25px;

}

.site-header .home-link {

        max-width:none;

}

.banner{

        width:1024px;

        margin-left:auto;

        margin-right:auto;

        height:146px;

}

.logo{

        float:left;

}

.top-buttons{

        float:right;

}

.u-map, .sign-up, .donate{

        float:left;

        text-align:center;

        text-transform:uppercase;

        margin-right:50px;

}

.top-buttons h5, .top-buttons h6{

        margin:0px;



}

.top-buttons h5{

        font-size:20px;

        

        font-family: 'Young Agrarians legible';

}

.top-buttons h6{

        font-size:10px;

}

/* navigation */



.navbar {

        background-color:rgb(25,25,25);

        margin: 0 auto;

        max-width: none;

        width: 100%;





}

.main-navigation {

        clear: both;

        margin: 0 auto;

        max-width: 1024px;

        min-height: 34px;

        position: relative;

}

ul.nav-menu{

        padding:0 0 0 0 ;

        text-align:center;

}

.nav-menu li a {

color: #FFF;

padding:0 60px 0 0;

line-height:35px;

text-transform:uppercase;

font-family:'Young Agrarians legible';

font-size:24px;

font-weight:bold;

}



.nav-menu li:last-child  a{

padding:0 0 0 0;

}

.nav-menu li:hover > a, .nav-menu li a:hover {

background-color:rgb(25,25,25);

}

h3.menu-toggle{

        color:#FFF;

}



.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {

        color:rgb(197,63,63);

        font-style: normal;

}

.nav-menu li:hover > a, .nav-menu li a:hover {

        color:rgb(197,63,63);

}


#map-app-container {
  .row {
    min-width:100% !important; 
  }
}

#map {
   height: 560px;
   min-height: 400px;
   min-width: 300px;
   /* Bootstrap Css Map Fix*/
  img { 
    max-width: none;
  }label { 
    width: auto; display:inline; 
  } 
}

#sidebar {
  ul {
    list-style-type: none;
    
    li {
      .legend-item-icon {
        max-height: 16px;
        max-width: 16px;
        margin-left: 8px;
      }
    }
  }
  
  #map-search {
    height: 24px;
    
    div {
      display: inline-block;
    }
    
    div.search-field-container {
      width: 80%;
    }
    
    a#map-search-clear {
      position: absolute;
      top: 54px;
      left: 155px;
      cursor: pointer;
    }
    
    #search-button {
      i {
        margin: 0 -15px;
      }
    }
  }
  
  #map-selected-categories {
    margin-top: 12px;
    
    ul {
      
      margin-bottom: 0;
      
      li {
        background-color: blue;
      }
    }
  }
  
  #map-selected-subcategories {
    
    ul {
      
      li {
        background-color: green;
      }
    }
  }
  
  .selected-categories-container {
        
    ul {
      font-size: 11px;
      color: white;
      
      li {
        display: inline-block;
        margin: 2px;
        padding: 2px 5px;
      }
    }
  }
}

#results {
  ul.results-list {
    margin: 10px 20px 0;
    list-style-type: none;
    
    li {
      margin-bottom: 10px;
      img {
        display: inline-block;
        margin-right: 5px;
      }
      p.location-description {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}

#app-modal {
   ul {
        list-style-type: none;
      }
   form#add-to-map-form {
      
      
      
      label {
         margin-left: -20px;
         margin-right: 10px;
      }
      .controls {
         margin-left: 150px;

         input, textarea {
            width: 340px;
         }

         select {
            width: 355px;
         }
      }

      .control-group.agree {
         margin-left: 20px;
      }
   }
}

div.map-bubble-background {
   max-width: 830px;
   div.map-marker {

      h3 {
         margin: 0;
         padding: 0;
         img {
            width: 21px;
            height: 21px;
            margin-top: -7px;
            margin-right: 5px;
         }

         a {
            text-decoration: none;
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }
      }

      ul.category {
         margin-bottom: 5px;
         padding: 0;
         li {
            font-style: italic;
            margin: 0;
            padding: 0;
         }
      }

      .contact-info {
         margin: 0;
         padding: 0;
         li {
            margin: 0;
            font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.address {
            font-style: italics;
         }

         li.phone {
            font-style: bold;
         }

         li.twitter {
            a {

            }
         }

         li.facebook {
            a {

            }
         }
      }

      .share {
         p {
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.facebook {
            background-repeat: no-repeat;
            background-image: url("/~youngagr/map/assets/facebook.gif");
            a {
               margin-left: 17px;
            }
         }

      }
   }
}

#FOOTER_1 {
    background: rgb(232, 229, 206) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 414px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1440px;
}/*#FOOTER_1*/

#DIV_2 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 359px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 20px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_2*/

#DIV_3 {
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 319px;
    left: 0px;
    line-height: 21px;
    margin: 0px 208px;
    max-width: 1024px;
    outline: rgb(104, 103, 88) none 0px;
    position: relative;
    text-align: left;
    width: 1024px;
}/*#DIV_3*/

#DIV_3:after {
    border: 0px none rgb(104, 103, 88);
    clear: both;
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#DIV_3:before {
    border: 0px none rgb(104, 103, 88);
    color: rgb(104, 103, 88);
    content: '';
    display: table;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    text-align: left;
    width: 1px;
}/*#DIV_3:after*/

#ASIDE_4 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 218px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_4*/

#DIV_5 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 178px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 260px;
    word-wrap: break-word;
}/*#DIV_5*/

#IMG_6 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 157px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 182px;
    word-wrap: break-word;
}/*#IMG_6*/

#ASIDE_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 319px;
    line-height: 21px;
    margin: 0px 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_7*/

#DIV_8 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 279px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 258px;
    word-wrap: break-word;
}/*#DIV_8*/

#UL_9 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 279px;
    line-height: 21px;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 0px;
    text-align: left;
    width: 258px;
    word-wrap: break-word;
}/*#UL_9*/

#LI_10 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 93px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_10*/

#A_11, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24, #A_26, #A_28 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
}/*#A_11, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24, #A_26, #A_28*/

#UL_12 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 62px;
    line-height: 21px;
    list-style: none outside none;
    margin: 0px 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 0px;
    text-align: left;
    width: 238px;
    word-wrap: break-word;
}/*#UL_12*/

#LI_13, #LI_15 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 238px;
    word-wrap: break-word;
}/*#LI_13, #LI_15*/

#LI_17, #LI_19, #LI_23, #LI_27 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_17, #LI_19, #LI_23, #LI_27*/

#LI_21, #LI_25 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 31px;
    line-height: 21px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 5px 0px;
    width: 258px;
    word-wrap: break-word;
}/*#LI_21, #LI_25*/

#ASIDE_29 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: right;
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 200px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    width: 300px;
    word-wrap: break-word;
}/*#ASIDE_29*/

#DIV_30 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    width: 260px;
    word-wrap: break-word;
}/*#DIV_30*/

#IMG_31 {
    border: 0px none rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 160px;
    line-height: 21px;
    max-width: 100%;
    outline: rgb(255, 255, 255) none 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    width: 215px;
    word-wrap: break-word;
}/*#IMG_31*/

#DIV_32 {
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(104, 103, 88);
    box-sizing: border-box;
    color: rgb(104, 103, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 55px;
    line-height: 21px;
    outline: rgb(104, 103, 88) none 0px;
    padding: 5px 0px;
    text-align: left;
    width: 1440px;
}/*#DIV_32*/

#P_33 {
    border: 0px none rgb(88, 88, 88);
    box-sizing: border-box;
    color: rgb(88, 88, 88);
    font: normal normal normal 14px/21px 'Source Sans Pro', Helvetica, sans-serif;
    height: 21px;
    line-height: 21px;
    margin: 0px 0px 24px;
    outline: rgb(88, 88, 88) none 0px;
    text-align: center;
    width: 1440px;
}/*#P_33*/

