/* =Theme customization starts here

-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700);

/* font-family: 'Averia Serif Libre', cursive; */

@font-face {

font-family: 'Young Agrarians legible';

        src: url('fonts/YOUNG_AGRARIANS.eot');

        src: local(''), url('/fonts/YOUNG_AGRARIANS.woff') format('woff'), url('/fonts/YOUNG_AGRARIANS.ttf') format('truetype'), url('fonts/YOUNG_AGRARIANS.svg') format('svg');
}

*{

-webkit-font-smoothing: antialiased;

}

a:active, a:hover, .widget a:hover {

        color:rgb(197,63,63);

        text-decoration:none;

}

@import "header";

#map-app-container {
  margin-top: 10px;
  
  .row {
    min-width:100% !important; 
  }
}

#map {
   height: 560px;
   min-height: 400px;
   min-width: 300px;
   /* Bootstrap Css Map Fix*/
  img { 
    max-width: none;
  }label { 
    width: auto; display:inline; 
  } 
}

#sidebar {
  ul {
    list-style-type: none;
    
    li {
      .legend-item-icon {
        max-height: 16px;
        max-width: 16px;
        margin-left: 8px;
      }
    }
  }
  
  #map-search {
    height: 24px;
    
    div {
      display: inline-block;
    }
    
    div.search-field-container {
      width: 80%;
    }
    
    a#map-search-clear {
      position: absolute;
      top: 44px;
      left: 135px;
      cursor: pointer;
    }
    
    #search-button {
      i {
        margin: 0 -15px;
      }
    }
  }
  
  #map-selected-categories {
    margin-top: 12px;
    
    ul {
      
      margin-bottom: 0;
      
      li {
        background-color: blue;
      }
    }
  }
  
  #map-selected-subcategories {
    
    ul {
      
      li {
        background-color: green;
      }
    }
  }
  
  .selected-categories-container {
        
    ul {
      font-size: 11px;
      color: white;
      
      li {
        display: inline-block;
        margin: 2px;
        padding: 2px 5px;
      }
    }
  }
}

#results {
  ul.results-list {
    margin: 10px 20px 0;
    list-style-type: none;
    
    li {
      margin-bottom: 10px;
      img {
        display: inline-block;
        margin-right: 5px;
      }
      p.location-description {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}

#app-modal {
   ul {
        list-style-type: none;
      }
   form#add-to-map-form {
        
      label {
        display: inline-block;
        width: 160px;
        vertical-align: top;
      }    
      .controls {
         display: inline-block;

         input, textarea {
            width: 340px;
         }

         select {
            width: 355px;
         }
      }

      .control-group.agree {
         margin-left: 20px;
      }
   }
}

div.map-bubble-background {
   max-width: 830px;
   div.map-marker {

      h3 {
         margin: 0;
         padding: 0;
         img {
            width: 21px;
            height: 21px;
            margin-top: -7px;
            margin-right: 5px;
         }

         a {
            text-decoration: none;
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }
      }

      ul.category {
         margin-bottom: 5px;
         padding: 0;
         li {
            font-style: italic;
            margin: 0;
            padding: 0;
         }
      }

      .contact-info {
         margin: 0;
         padding: 0;
         li {
            margin: 0;
            font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.address {
            font-style: italics;
         }

         li.phone {
            font-style: bold;
         }

         li.twitter {
            a {

            }
         }

         li.facebook {
            a {

            }
         }
      }

      .share {
         p {
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.facebook {
            background-repeat: no-repeat;
            background-image: url("/~youngagr/map/assets/facebook.gif");
            a {
               margin-left: 17px;
            }
         }

      }
   }
}

.gm-style div {
  font-family: 'SofiaProLight', Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  height: auto;
  ul {
    list-style-type: none;
  }
}

.reveal-modal {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.298039);
    border-radius: 6px 6px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 7px 0px;
    color: rgb(102, 102, 102);
    font: normal normal normal 12px/20px SofiaProLight, Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    margin: 0px 0px 0px -280px;
    width: 600px;
    
    .modal-body {
      
      fieldset {
        border: none;
      }
      
    }    
}

@import "footer";
