#map {
   height: 560px;
   min-height: 400px;
   width: 75%;
   min-width: 300px;
   /* Bootstrap Css Map Fix*/
  img { 
    max-width: none;
  }label { 
    width: auto; display:inline; 
  } 
}

#sidebar {
  ul {
    list-style-type: none;
    
    li {
      .legend-item-icon {
        max-height: 16px;
        max-width: 16px;
        margin-left: 8px;
      }
    }
  }
  
  #map-search {
    height: 24px;
    
    div {
      display: inline-block;
    }
    
    div.search-field-container {
      width: 80%;
    }
    
    a#map-search-clear {
      position: absolute;
      top: 54px;
      left: 160px;
      cursor: pointer;
    }
    
    #search-button {
      i {
        margin: 0 -15px;
      }
    }
  }
  
  #map-selected-categories {
    margin-top: 12px;
    
    ul {
      
      margin-bottom: 0;
      
      li {
        background-color: blue;
      }
    }
  }
  
  #map-selected-subcategories {
    
    ul {
      
      li {
        background-color: green;
      }
    }
  }
  
  .selected-categories-container {
        
    ul {
      font-size: 11px;
      color: white;
      
      li {
        display: inline-block;
        margin: 2px;
        padding: 2px 5px;
      }
    }
  }
}

#results {
  ul.results-list {
    margin: 10px 20px 0;
    list-style-type: none;
    
    li {
      margin-bottom: 10px;
      img {
        display: inline-block;
        margin-right: 5px;
      }
      p.location-description {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}

#modal {
   div.modal {
      width: 600px;
   }
   form#add-to-map-form {
      label {
         margin-left: -20px;
         margin-right: 10px;
      }
      .controls {
         margin-left: 150px;

         input, textarea {
            width: 340px;
         }

         select {
            width: 355px;
         }
      }

      .control-group.agree {
         margin-left: 20px;
      }
   }
}

div.map-bubble-background {
   max-width: 830px;
   div.map-marker {

      h3 {
         margin: 0;
         padding: 0;
         img {
            width: 21px;
            height: 21px;
            margin-top: -7px;
            margin-right: 5px;
         }

         a {
            text-decoration: none;
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }
      }

      ul.category {
         margin-bottom: 5px;
         padding: 0;
         li {
            font-style: italic;
            margin: 0;
            padding: 0;
         }
      }

      .contact-info {
         margin: 0;
         padding: 0;
         li {
            margin: 0;
            font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.address {
            font-style: italics;
         }

         li.phone {
            font-style: bold;
         }

         li.twitter {
            a {

            }
         }

         li.facebook {
            a {

            }
         }
      }

      .share {
         p {
              font-family: 'SofiaProSemiBold', Georgia, 'Times New Roman', Times, serif;
         }

         li.facebook {
            background-repeat: no-repeat;
            background-image: url("/~youngagr/map/assets/facebook.gif");
            a {
               margin-left: 17px;
            }
         }

      }
   }
}
